
.layout_post>#post {
    /* 以下代表透明度为0.7 可以自行修改*/
    background: rgba(255,255,255,.7);
}
 
/* 所有页面背景 */
#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
    /* 以下代表透明度为0.7 */
    background: rgba(255,255,255,.7);
}
/*侧边卡片的透明度 */
:root {
  --card-bg: rgba(255, 255, 255, .7);
}
/* 页脚透明 */
#footer {
	/* 以下代表透明度为0.7 */
	background: rgba(255,255,255, .0);
}
@font-face {
  font-family: "iconfont"; /* Project id 4450596 */
  src: url('//at.alicdn.com/t/c/font_4450596_uvzk3uzs6n8.woff2?t=1709305186227') format('woff2'),
       url('//at.alicdn.com/t/c/font_4450596_uvzk3uzs6n8.woff?t=1709305186227') format('woff'),
       url('//at.alicdn.com/t/c/font_4450596_uvzk3uzs6n8.ttf?t=1709305186227') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-bilibili:before {
  content: "\e600";
}

.icon-wuweiqiyue:before {
  content: "\e653";
}